#*
 * Copyright 2010 Västra Götalandsregionen
 *
 *   This library is free software; you can redistribute it and/or modify
 *   it under the terms of version 2.1 of the GNU Lesser General Public
 *   License as published by the Free Software Foundation.
 *
 *   This library is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU Lesser General Public License for more details.
 *
 *   You should have received a copy of the GNU Lesser General Public
 *   License along with this library; if not, write to the
 *   Free Software Foundation, Inc., 59 Temple Place, Suite 330,
 *   Boston, MA 02111-1307  USA
 *
 *#
<?xml version="1.0" encoding="UTF-8"?>
<html>
  <head>
    <title>Webbisar - V&auml;stra G&ouml;talandsregionen</title>
  </head>
  <body>
 
    <table>
      <tr>
        <td colspan="2">$emailInfo.message</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
    #foreach($webbis in $webbisInfo.keySet())
      <tr>
        <td colspan="2"><a href="$emailInfo.baseUrl?webbisId=$webbis">L&auml;nk till webbisen $webbisInfo.get($webbis)</a></td>
      </tr>
    #end
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2">
          V&auml;nliga h&auml;lsningar,<br/>
          $emailInfo.senderName (<a href="mailto:$emailInfo.senderAddress">$emailInfo.senderAddress</a>)
        </td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><hr/></td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Skickat fr&aring;n <a href="http://vard.vgregion.se/sv/Webbisar/">Webbisar - V&auml;stra G&ouml;talandsregionen</a></td>
        <td align="right" style="padding-left: 30px;"><img src='cid:imageIdentifier'></td>
      </tr>
    </table>
 
  </body>

</html>
