/**
 * Copyright 2009 Vastra Gotalandsregionen
 *
 *   This library is free software; you can redistribute it and/or modify
 *   it under the terms of version 2.1 of the GNU Lesser General Public
 *   License as published by the Free Software Foundation.
 *
 *   This library is distributed in the hope that it will be useful,
 *   but WITHOUT ANY WARRANTY; without even the implied warranty of
 *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *   GNU Lesser General Public License for more details.
 *
 *   You should have received a copy of the GNU Lesser General Public
 *   License along with this library; if not, write to the
 *   Free Software Foundation, Inc., 59 Temple Place, Suite 330,
 *   Boston, MA 02111-1307  USA
 */
@CHARSET "UTF-8";

div.portlet-content {
  font: 73.5% Arial, Verdana, Helvetica, sans-serif;
  background:#fff;
  padding: 0;
  margin: 0;
}

#custom-doc {
	margin:auto;text-align:left; /* leave unchanged */
	width:66em;/* non-IE */
	*width:66.36em;/* IE */
	min-width:650px;/* optional but recommended */
}

.wrapper {
     min-height: 100%;
     height: auto !important;
     height: 100%;
     margin: 0 auto -4em;
}
.footer, .push {
     height: 4em;
}

h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.8em;
	font-weight:normal; 
	color:#2a6344;
}

h3.badge{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight:bold;
	color:#2a6344; 
	margin-bottom:0.4em;
	margin-top:0.4em;
	margin-left:0.8em;
}

h3.webbis{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight:bold;
	color:#2a6344; 
	margin-bottom:0.4em;
	margin-top:0.4em;
	margin-left:0.8em;
}

h4.webbis{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight:bold;
  color:#2a6344; 
  margin-bottom:0.2em;
}

span.bold {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	margin: 0
}

p {
	-x-system-font:none;
	color:#222222;
	font-family: Arial,Helvetica,sans-serif;
	font-size:1.1em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.3em;
	margin-bottom:0;
	margin-top:0;
}

input.btn {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

div.topinfo {
	margin-top: 0.5em;
	margin-bottom: 0.8em;
}
div.searchinfo {
	text-align: center;
	margin-bottom: 0.5em;
}
div.searchfield {
	text-align: center;
}
div.badge {
	height: 15em;
	border: thin solid #D1D1D1;
	margin-bottom:0.8em;
}

div.badge-text {
	font-size: 0.8em;
}

div.webbis {
	border: thin solid #D1D1D1;
	margin-bottom:0.8em;
}

div.addwebbis {
	border: thin solid #D1D1D1;
	margin-bottom:0.8em;
}

div.addrow {
	padding-top: 0.8em;
	padding-bottom: 1.2em;
}

div.header {
	margin-bottom:0.4em;
}

div.piclist {
	margin-top:1.0em;
}

div.search_item {
	font-size: 1.5em;
	padding-top: 1.0em;
	padding-bottom: 0.0em;
}

div.search_info {
	font-size: 1.0em;
	padding-top: 0.2em;
	padding-bottom: 0.8em;
}

img.selected {
	border: 1px solid #9C132F;
	width:14em;
	margin-top:0.2em;
	margin-bottom:0.2em;
	margin-left:0.2em;
}

img.notselected {
	width:14em;
	margin-top:0.6em;
	margin-bottom:0.6em;
	margin-left:0.6em;
}
	
img.thumb {
	width: 14em;
	padding-top:0.1em;
	padding-bottom:0.4em;
	padding-left:0.8em;	
}

img.full {
	width: 43em;
	margin-bottom:0.4em;
	margin-left:0.8em;
}
